---
import Header from "@/components/Header.astro";
---

<section
    id="container"
    class="bg-gradient-to-tr from-violet-300 via-fuchsia-200 to-pink-300 h-screen"
>
    <Header />
</section>

<style>
    #container {
        height: 100vh;
        width: 100%;
    }
</style>
